body {
    background-color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
}

main {
display: block;
}

.card-header {
    position: relative;
    margin-top: -20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.linear-gradient-background {
    background-image: -moz-linear-gradient(
        rgba(232, 102, 236, 0.3) 0%
        rgba(232, 102, 236, 0.6) 100%
    );
}

